<app-fullcalendar></app-fullcalendar>


<div class="container">

    <div class="container-fluid py-2">

        <!-- message success primeNG -->
        <p-toast></p-toast>
        <!-- message success primeNG -->
        <!-- LOADING -->
        <app-loading *ngIf="loading"></app-loading>
        <!-- LOADING -->
       
        <div class="card p-0" *ngIf="!loading">
            <p-table #dt [value]="citas" 
                         [rows]="5" 
                         [paginator]="true" 
                         [globalFilterFields]="['title','tipo']" 
                         responsiveLayout="scroll"
                         [rowHover]="true" dataKey="id"
                         currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} " [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        <h5 class="display-6 fw-light animate__animated animate__fadeIn">Administración de Cita Previa</h5>
                        <div class="d-flex justify-content-between">
                            <div></div>
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                            </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="w100" pSortableColumn="title">title<p-sortIcon field="title"></p-sortIcon></th>
                        <th class="w100" pSortableColumn="phone">Télefono<p-sortIcon field="phone"></p-sortIcon></th>
                        <th class="w100" pSortableColumn="start">Fecha<p-sortIcon field="start"></p-sortIcon></th>
                        <th class="w100" pSortableColumn="tipo">Tipo de cita<p-sortIcon field="tipo"></p-sortIcon></th>
                        <th class="w100" ></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cita>
                    <tr>
                        <td>{{ cita.title }} </td>
                        <td>{{ cita.phone }} </td>
                        <td>{{ cita.start | date }} </td>
                        <td>
                            <span class="badge  bg-danger"   *ngIf="cita.tipo  == 'vista'">Revisón vista</span>
                            <span class="badge  bg-warning"  *ngIf="cita.tipo != 'vista'">Prueba Lentillas</span>
                        </td>
                        <a [routerLink]="[ '/path', routeParam ]">name</a>
                        <td>
                            <button pButton pRipple icon="pi pi-trash"  class="p-button-rounded p-button-danger  m-1" (click)="deleteCita( cita )" ></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between text-primario">
                        Hay un total de {{citas ? citas.length : 0 }} Clientes con cita previa.
                    </div>
                </ng-template>
            </p-table>
        </div>
      
        
    </div>
    
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    
</div>