
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark vh-100" style="width: 250px;">

    <h1 class="animate__animated animate__fadeIn display-4 text-light text-secondary pointer" routerLink="/">Opti<span class="text-primario">√</span>ista</h1>
    <span class="text-light fw-light fs-6 text-end animate__animated  animate__backInUp">Dashboard</span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      
      <li class="buttonHover">
        <a class="nav-link fs-5 text-light" routerLink="home" routerLinkActive="rutaActiva" >
          <i class="bi bi-house-door text-light"></i>
          Home
        </a>
      </li>
      
      <li class="buttonHover">
        <a class="nav-link fs-5 text-light" routerLink="marcas" routerLinkActive="rutaActiva">
          <i class="bi bi-archive"></i>
          Marcas
        </a>
      </li>

      <li class="buttonHover">
        <a class="nav-link fs-5 text-light">
          <i class="bi bi-grid"></i>
          Productos
        </a>
      </li>

      <li class="buttonHover">
        <a class="nav-link fs-5 text-light">
          <i class="bi bi-book"></i>
          Blog
        </a>
      </li>

      <li class="buttonHover">
        <a class="nav-link fs-5 text-white">
          <i class="bi bi-calendar-event"></i>
          Gestor citas
        </a>
      </li>

      <li class="buttonHover">
        <a class="nav-link fs-5 text-white">
          <i class="bi bi-newspaper"></i>
          NewsLetters
        </a>
      </li>
      
      <li class="buttonHover">
        <a class="nav-link fs-5 text-white">
          <i class="bi bi-person-circle"></i>
          Customers
        </a>
      </li>

    </ul>
    <hr>
    <div class="dropdown">
      <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item">New project...</a></li>
        <li><a class="dropdown-item">Settings</a></li>
        <li><a class="dropdown-item">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item">Sign out</a></li>
      </ul>
    </div>
  </div>
