<div class="container bg-secundario mt-3">
    <div class="row">
        <div class="col col-xl-9 d-flex flex-column justify-content-center text-center text-xl-start py-3">
            <h1 class="px-4 fw-light animate__animated animate__fadeIn"> Tu Compra segura </h1>
            <p class="px-4 fw-normal fs-5">Preguntas frecuentes sobre nuestras tiendas y servicios generados por el
                Covid-19 </p>
        </div>
    </div>
</div>

<div class="container p-0 my-3">

    <p-accordion>
        <p-accordionTab header="¿Qué medidas de protección sanitaria tomaréis en tienda?" >
            Siguiendo las recomendaciones de las autoridades sanitarias, en nuestros centros aplicamos todas las medidas
            de protección necesarias para el cuidado de tu salud visual y la de nuestros profesionales. Asimismo,
            cumplimos estrictas políticas de limpieza y desinfección de los espacios y equipamientos.
        </p-accordionTab>
        <p-accordionTab header="¿Es necesario pedir cita para acudir a de Opti√ista?">
            Estaremos encantados de atenderte en nuestro centro Opti<span class="text-primario">√</span>ista. Si lo
            prefieres, puedes pedir tu cita cómodamente desde nuestro gestor de <a href="#" class="text-primario">citas
                online</a> o llamandonos al 952 50 80 26, escogiendo así el horario disponibleque más se adapte a ti..
        </p-accordionTab>
        <p-accordionTab header="¿Tengo que venir con mascarilla y guantes?">
            Una vez estés dentro en nuestro centro Opti<span class="text-primario">√</span>ista. te ofreceremos todas
            las medidas de protección necesarias para que tu visita sea lo más segura. es necesario que acudas con
            mascarilla. De esta forma, te protegemos y nos protegemos.
        </p-accordionTab>
        <p-accordionTab header="¿Lorem ipsum dolor sit amet consectetur adipisicing elit?">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione deserunt quo, aperiam
            consequuntur rerum dolores aut odit asperiores non suscipit dolore veritatis saepe. A
            molestias illum facere, illo dolorum maxime.
        </p-accordionTab>
        <p-accordionTab header="¿Lorem ipsum dolor sit amet consectetur adipisicing elit?">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione deserunt quo, aperiam
            consequuntur rerum dolores aut odit asperiores non suscipit dolore veritatis saepe. A
            molestias illum facere, illo dolorum maxime.
        </p-accordionTab>
        <p-accordionTab header="¿Lorem ipsum dolor sit amet consectetur adipisicing elit?">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione deserunt quo, aperiam
            consequuntur rerum dolores aut odit asperiores non suscipit dolore veritatis saepe. A
            molestias illum facere, illo dolorum maxime.
        </p-accordionTab>
        <p-accordionTab header="¿Lorem ipsum dolor sit amet consectetur adipisicing elit?">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione deserunt quo, aperiam
            consequuntur rerum dolores aut odit asperiores non suscipit dolore veritatis saepe. A
            molestias illum facere, illo dolorum maxime.
        </p-accordionTab>
    </p-accordion>


</div>