<div class="container bg-secundario mt-3">
    <div class="row">
        <div class="col d-flex flex-column justify-content-center text-center text-xl-start py-3">
            <h1 class="px-4 fw-light animate__animated animate__fadeIn"> Quienes somos</h1>
            <p class="px-4 fw-normal fs-5">Lo más importante es tu salud visual. Nosotros, lo vimos claro ¿y tú? </p>
        </div>
    </div>
</div>

<div class="container my-5">

    <div class="row">
        <div class="col-md-7">
            <p class="text-center text-lg-start lh-base" style="text-align: justify !important;">
                En Optivista miramos por ti y por tus necesidades en materia de salud visual. No queremos
                venderle unas gafas,
                queremos ser su centro sanitario de óptica de referencia, y garantizarle la confianza y la
                tranquilidad de estar en las
                mejores manos.
            </p>
            <p class="text-center text-lg-start lh-base" style="text-align: justify !important;">
                Contamos con los más modernos instrumentos que nos permiten, no sólo la máxima precisión en la
                graduación de tu vista o en la adaptación de sus lentes de contacto, sino también la detección
                temprana de posibles anomalías en tu sistema visual que pudieran necesitar ser remitidas a tu
                médico especialista.
            </p>
            <p class="text-center text-lg-start lh-base" style="text-align: justify !important;">
                Pero para poder garantizar la confianza y la tranquilidad de nuestros pacientes, y que éstos nos
                consideren como su referencia en la atención primaria de su salud visual, ha sido necesario
                realizar una importante inversión en los más modernos instrumentos, de manera que éstos
                permitan, no sólo la máxima precisión en la graduación de su vista o la adaptación de lentes de
                contacto, sino también la detección temprana de posibles anomalías en su sistema visual que
                necesiten ser remitidas a su médico especialista, quien debe ser en todo caso el profesional que
                diagnostique y trate las posibles patologías.
            </p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="assets/images/recepcion.jpg" alt="">
        </div>
    </div>

</div>
<hr class="my-5">
<h2 class="animate__animated animate__fadeIn text-center display-6 text-secondary pointer" routerLink="/">Nuestro<span
        class="text-primario"> equipo</span></h2>
<hr class="my-5">

<div class="container">
    <div class="row mt-5 mb-4">
        <div class="col-md-7 order-md-2">
            <h2>Jaime Guerra Aparicio</h2>
            <p class="text-start lh-base" style="text-align: justify !important;">
                Diplomado en Óptica y Optometría (Colegiado n°: 8.923) con más de 10 años de experiencia en el
                sector, quien, si lo permites será siempre el profesional que realizará o supervisará perso-
                nalmente las pruebas que tu visión necesite, sea cual sea tu problema visual.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="img-fluid mx-auto" src="assets/images/team/boss.jpg" alt="">
        </div>
    </div>


    <div class="row mb-4">
        <div class="col-md-7">
            <h2>Lorem Ipsum Dolor</h2>
            <p class="text-start lh-base" style="text-align: justify !important;">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur eum quibusdam nisi est
                voluptas. Doloribus at cupiditate cumque tempore earum rem modi officiis repudiandae, nihil quas
                ab accusantium quis dolorum?
            </p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid mx-auto" src="assets/images/team/girl.jpg" alt="">
        </div>
    </div>


    <div class="row mb-4">
        <div class="col-md-7 order-md-2">
            <h2>Lorem Ipsum Dolor</h2>
            <p class="text-start lh-base" style="text-align: justify !important;">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur eum quibusdam nisi est
                voluptas. Doloribus at cupiditate cumque tempore earum rem modi officiis repudiandae, nihil quas
                ab accusantium quis dolorum?
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="img-fluid mx-auto" src="assets/images/team/boy.jpg" alt="">
        </div>
    </div>

</div>

<hr class="my-5">

<div class="container-fluid">
    <div class="row">
        <div class="alert alert-info text-center" role="alert">
            Si quieres saber más consulta las <a [routerLink]="[ '/es/preguntas-frecuentes-covid19' ]" class="alert-link">preguntas frecuentes</a>. sobre nuestra tienda y servicios a raíz de la situación
            generada por el Covid-19
          </div>
    </div>
</div>