<div class="container">
    <!-- message success primeNG -->
    <p-toast></p-toast>
    <!-- message success primeNG -->
    <div class="row my-3">

        <div class="col-12 text-center">
            <h3 class="display-4 animate__animated animate__fadeIn">Cita Previa</h3>
            <p class="text-primario fw-bold text-uppercase">Día y hora</p>            
            <p class="text-secundario">¿Cuando te gustaría venir?</p>
        </div>

    </div>


    <div class="row mb-5">
      <div class="alert alert-info" role="alert" *ngIf="showInfo">
        Por favor, escoga la fecha y la hora en la que desea solicitar cita previa
      </div>
        <div class="col-12 col-md-4 my-2 text-sm-center text-none">

                <p-calendar [(ngModel)]="today"
                            [inline]="true" 
                            [showWeek]="false" 
                            selectionMode="single"
                            [minDate]="mindate" 
                            >
                </p-calendar>

        </div>
       
        <div class="col-12 col-md-4 my-2 text-center">
              <p class="card-text fw-light fs-5">Elige hora: </p>
              <p-dropdown [options]="horas" [(ngModel)]="horaSeleccionada" optionLabel="hora" optionValue="hora" placeholder="Seleccione una hora"></p-dropdown>
        </div>

        <div class="col-12 col-md-4 text-center animate__animated animate__fadeI">
          <p class="text-dark fs-5 fw-light text-uppercase">Ha seleccionado: Cita para revisón {{ tipo }} <span class="text-primario fw-normal" *ngIf="today && horaSeleccionada">{{ today | date}} a las {{ hora }}</span></p>
         


          <div *ngIf="today && horaSeleccionada">
          <p class="animate__animated animate__fadeIn tex-light fw-light fs-5">Rellene los siguientes campos:</p>
          <input id="float-input" type="text" pInputText [(ngModel)]="title" placeholder="Nombre completo"> 
          <br><small class="p-error" *ngIf="submitted && !title" >Campo obligatorio</small>
          <br>
          <br>
          <input id="float-input" type="text" pInputText [(ngModel)]="phone" placeholder="Télefono"> 
          <br><small class="p-error" *ngIf="submitted && !phone ">Campo obligatorio </small>
          <br>
          <br>
          <button class="btn btn-warning mx-1" (click)="cancelar()">Cancelar</button>
          <button class="btn btn-primario mx-1" (click)="pedirCita()">Enviar</button>
          </div>
        </div>
        
        <!-- <div class="col-12 col-md-4 my-2 text-center">
      
        </div> -->

        
        
    </div>
    
</div>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>