<div class="container bg-secundario mt-3">
    <div class="row">
        <div class="col col-xl-9 d-flex flex-column justify-content-center text-center text-xl-start py-3">
            <h1 class="px-4 fw-light animate__animated animate__fadeIn">Descuentos</h1>
            <p class="px-4 fw-normal fs-5">Únete a nosotros, disfrutaras de ventajas y descuentos exclusivos.</p>
        </div>
    </div>
</div>


<div class="container my-5">

    <div class="row">


        <div class="col">

            <div class="row d-flex justify-content-center align-items-center">

                <div class="col col-md-4 my-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center display-1 text-primario">25%</h5>
                            <p class="card-text text-center fs-2">Gafas graduadas</p>
                        </div>
                    </div>
                </div>

                <div class="col col-md-4 my-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center display-1 text-primario">20%</h5>
                            <p class="card-text text-center fs-2">Gafas de sol</p>
                        </div>
                    </div>
                </div>
               
                <div class="col col-md-4 my-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center display-1 text-primario">20%</h5>
                            <p class="card-text text-center fs-2">lentes de contactos</p>
                        </div>
                    </div>
                </div>

                <div class="col col-md-4 my-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center display-1 text-primario">15%</h5>
                            <p class="card-text text-center fs-2">Otros productos</p>
                        </div>
                    </div>
                </div>

                <!-- 
                <div class="col-md-4 d-flex flex-column align-items-center">
                    <h1 class="text-success border p-5 rounded-circle text-center bg-primary" width="140" height="170">
                        25%</h1>
                    <h5>Gafas graduadas</h5>
                </div>

                <div class="col-md-4 d-flex flex-column align-items-center">
                    <h1 class="text-success border p-5 rounded-circle text-center bg-primary" width="140" height="140">
                        20%</h1>
                    <h5>Gafas de sol y lentes de contacto</h5>
                </div>

                <div class="col-md-4 d-flex flex-column align-items-center">
                    <h1 class="text-success border p-5 rounded-circle text-center bg-primary" width="140" height="140">
                        15%</h1>
                    <h5>Resto de productos</h5>
                </div> -->


            </div>


        </div>




    </div>
</div>