<div class="container bg-secundario mt-3">
    <div class="row">
        <div class="col d-flex flex-column justify-content-center text-center text-xl-start py-3">
            <h1 class="px-4 fw-light animate__animated animate__fadeIn">Servicios</h1>
            <p class="px-4 fw-normal fs-5">Cuida tus ojos y veras el mundo de la mejor manera. </p>
        </div>
    </div>
</div>


<div class="container my-5">

    <div class="row">

        <div class="col">

            <div class="row row-cols-md-2 g-3">

                <div class="d-flex flex-column flex-lg-row align-items-center align-items-lg-start">
                    <!-- <img class="garantieIcons" src="assets/images/services/brokenGlasses.png" alt=""> -->
                    <div class="px-2">
                        <h5 class="fw-bold fs-5">Servicio graduación de la vista</h5>
                        <p class="text-justify fs-6 fw-light">
                            Detectamos alteraciones visuales como miopía, hipermetropía, astigmatismo y presbicia o
                            vista cansada. Este tipo de alteraciones se compensan mediante el uso de gafas o lentes de
                            contacto.
                        </p>
                    </div>
                </div>

                <div class="d-flex flex-column flex-lg-row align-items-center align-items-lg-start">
                    <!-- <img class="garantieIcons" src="assets/images/services/compromiso.png" alt=""> -->
                    <div class="px-2">
                        <h5 class="fw-bold fs-5">Servicio adaptación de lentes de contacto</h5>
                        <p class="text-justify fs-6 fw-light">
                            Realizamos una adaptación personalizada de todo tipo de lentes de contacto: gas-permeables o
                            semirrígidas e hidrofílicas o blandas.
                        </p>
                    </div>
                </div>

                <div class="d-flex flex-column flex-lg-row align-items-center align-items-lg-start">
                    <!-- <img class="garantieIcons" src="assets/images/services/skills.png" alt=""> -->
                    <div class="px-2">
                        <h5 class="fw-bold fs-5">Servicios de Chequeo salud ocular</h5>
                        <p class="text-justify fs-6 fw-light">
                            Realizamos pruebas para detectar posibles enfermedades de los ojos y otras que se
                            manifiestan en éstos pero pueden afectar al estado de salud generar. el chequeo de salud
                            ocular consiste en: examen de los reflejos pupilares, observación del cristalino, toma de
                            presión intraocular, retinografía, motilidad ocular.
                        </p>
                    </div>
                </div>

                <div class="d-flex flex-column flex-lg-row align-items-center align-items-lg-start">
                    <!-- <img class="garantieIcons" src="assets/images/services/eye.png" alt=""> -->
                    <div class="px-2">
                        <h5 class="fw-bold fs-5">Certificado de titulaciones básicas</h5>
                        <p class="text-justify fs-6 fw-light">
                            Determinación de la aptitud visual para el gobierno de embarcaciones
                        </p>
                    </div>
                </div>
               
                <div class="d-flex flex-column flex-lg-row align-items-center align-items-lg-start">
                    <!-- <img class="garantieIcons" src="assets/images/services/eye.png" alt=""> -->
                    <div class="px-2">
                        <h5 class="fw-bold fs-5">Servicio de asesoramiento estético</h5>
                        <p class="text-justify fs-6 fw-light">
                            Tenemos una gran variedad de marcas y estilos. Te ofrecemos una gama amplia de modelos, pero siempre con la premisa de ofrecerte moda a precios ajustados.
                        </p>
                    </div>
                </div>
               
                <div class="d-flex flex-column flex-lg-row align-items-center align-items-lg-start">
                    <!-- <img class="garantieIcons" src="assets/images/services/eye.png" alt=""> -->
                    <div class="px-2">
                        <h5 class="fw-bold fs-5">Servicio en optometría infantil</h5>
                        <p class="text-justify fs-6 fw-light">
                            Somos especialistas en Optometría infantil. Elaboramos pronósticos a nuestros jóvenes pacientes.
                        </p>
                    </div>
                </div>

            </div>


        </div>

    </div>
</div>
