<!-- <div class="container-fluid bg ">
    <div class="d-flex flex-column justify-content-center align-items-center">

      <div class="d-flex flex-column">
        <span><i class="far fa-newspaper sizeIcon"></i></span>
        <h5 class="text-center mb-3">¡Suscríbete para recibir nuestras ofertas y novedades!</h5>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Escribe tu dirección de mail">
            <button class="btn btn-primary text-uppercase" type="button">suscribirse</button>
        </div>
      
        <div class="form-check w-100">
          <input class="form-check-input" type="checkbox">
          <label class="form-check-label">
            Acepto los términos de la <a href="#" class="text-primario">Política de Privacidad </a>
          </label>
        </div>
      </div>
    </div>
</div> -->

<div class="container-fluid bg py-3">

  <div class="row justify-content-center">

      <div class="col-12 text-center">
        <span><i class="far fa-newspaper sizeIcon"></i></span>
        <h5 class="mb-3">¡Suscríbete para recibir nuestras ofertas y novedades!</h5>
      </div>
      
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 col-xxl-3">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Escribe tu dirección de mail">
          <button class="btn btn-primario text-uppercase" type="button">suscribirse</button>
        </div>
      </div>
    </div>

</div>


<!-- <div class="container-fluid bg ">
  
  <div class="d-flex flex-column align-items-center py-3">

    <span><i class="far fa-newspaper sizeIcon"></i></span>
    <h5 class="mb-3">¡Suscríbete para recibir nuestras ofertas y novedades!</h5>
    <div class="row ">
      <div class="col-12">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Escribe tu dirección de mail">
          <button class="btn btn-primary text-uppercase" type="button">suscribirse</button>
        </div>
      </div>
    </div>
  </div>

</div> -->