<div class="container-fluid bg py-3">

  <div class="row justify-content-center">
        <!-- message success primeNG -->
        <p-toast></p-toast>
        <!-- message success primeNG -->
      <div class="col-12 text-center">
        <span><i class="far fa-newspaper sizeIcon"></i></span>
        <h5 class="mb-3">¡Suscríbete para recibir nuestras ofertas y novedades!</h5>
      </div>
      
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 col-xxl-3">
         <!-- start errors backend -->
            <div class="alert alert-danger" role="alert" *ngIf="backendErrors" >
                {{ backendErrorMsg }}
            </div>
           <!-- end errors backend -->
        <form autocomplete="off" [formGroup]="newsForm" (ngSubmit)="suscribirme()">
          <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Escribe tu dirección de mail" formControlName="email">
              <button class="btn btn-primario text-uppercase" type="submit">suscribirse</button>
          </div>
          <div class="alert alert-danger mt-2" role="alert" *ngIf="campoNovalido('email')">
            Campo obligatorio - email no válido.
          </div>
        </form>
      </div>
    </div>

</div>
