<div class="container bg-secundario mt-3">
    <div class="row">
        <div class="col col-xl-9 d-flex flex-column justify-content-center text-center text-xl-start py-3">
            <h1 class="px-4 fw-light animate__animated animate__fadeIn"> Garantías</h1>
            <p class="px-4 fw-normal fs-5">Verás qué ventajas, acertarás con toda seguridad. </p>
        </div>
    </div>
</div>

<div class="container my-5">

    <div class="row">

        <div class="col">

            <div class="row row-cols-md-2 g-3">

                <div class="d-flex flex-column flex-lg-row align-items-center align-items-lg-start">
                    <img class="garantieIcons" src="assets/images/services/brokenGlasses.png" alt="">
                    <div class="px-2">
                        <h5 class="fw-bold fs-5">Seguro de rotura de gafas graduadas 2 años</h5>
                        <p class="text-justify fs-6 fw-light">
                            Seguro gratuito durante 2 años. Sustituimos las gafas o sus componentes bajo cualquier
                            circunstancia: rotura, robo e incluso pérdida. A tan solo el 50% del precio de venta, un 40%
                            en el caso de lentes de contacto no desechables.
                        </p>
                    </div>
                </div>

                <div class="d-flex flex-column flex-lg-row align-items-center align-items-lg-start">
                    <img class="garantieIcons" src="assets/images/services/compromiso.png" alt="">
                    <div class="px-2">
                        <h5 class="fw-bold fs-5">Compromiso de adaptación y satisfacción</h5>
                        <p class="text-justify fs-6 fw-light">
                            En Opti<span class="text-primario">√</span>ista sabemos que elegir unas gafas apropiadas no
                            es una tarea fácil y que muchas veces tenemos miedo de no ver bien con nuestros nuevos
                            cristales. Si pasado 30 días desde la fecha de compra no te sientes cómodo puedes
                            solicitarnos el cambio.
                        </p>
                    </div>
                </div>

                <div class="d-flex flex-column flex-lg-row align-items-center align-items-lg-start">
                    <img class="garantieIcons" src="assets/images/services/skills.png" alt="">
                    <div class="px-2">
                        <h5 class="fw-bold fs-5">Formación y profesionalización</h5>
                        <p class="text-justify fs-6 fw-light">
                            En Opti<span class="text-primario">√</span>ista, la formación es un pilar fundamental,
                            Nuestro equipo está en continua formación profesional, adegurándonos de estar al día con los
                            ultimos avances en el sector de la óptica. Por lo que ofrecemos las últimas novedades y
                            avances tecnológicos a nuestro alcance en todos los productos y servicios que prestamos. Tu
                            salud visual es lo primero.
                        </p>
                    </div>
                </div>

                <div class="d-flex flex-column flex-lg-row align-items-center align-items-lg-start">
                    <img class="garantieIcons" src="assets/images/services/eye.png" alt="">
                    <div class="px-2">
                        <h5 class="fw-bold fs-5">Compromiso con tu salud visual</h5>
                        <p class="text-justify fs-6 fw-light">
                            Como bien sabes para nosotros lo más importante es que veas bien, en Opti<span class="text-primario">√</span>ista 
                            no solo graduamos tu vista, llevamos a cabo un protocolo personalizado de prevención de salud ocular, con las últimas innovaciones técnicas
                            a nuestro alcance.
                        </p>
                    </div>
                </div>

            </div>


        </div>


    </div>

</div>