<div class="container bg-secundario mt-3">
    <div class="row">
        <div class="col col-xl-9 d-flex flex-column justify-content-center text-center text-xl-start py-3">
            <h1 class="px-4 fw-light animate__animated animate__fadeIn">Beneficiarios</h1>
            <p class="px-4 fw-normal fs-5">Únete a nosotros, disfrutaras de ventajas y descuentos exclusivos.</p>
        </div>
    </div>
</div>


<div class="container my-5">

    <div class="row">

        <div class="col">
            
            <h4 class="fw-normal mb-3 display-6">
                Comparte tus ventajas con los tuyos.
            </h4>

            <p class="fw-light fs-5">
                Como cliente especial puedes compartir las ventajas de pertenecer a OptiClub con su familia directa en primer grado (padres-madres, cónyuge o hijos-hijas).
            </p>

            <p class="fw-light fs-5">Además, al realizar tu primera compra. Para premiar su fidelidad, cualquiera de ellos se podrá beneficiar durante el plazo de 4 años de nuestros descuentos exclusivos.</p>

            <p class="fw-light fs-5">
               Tus beneficiarios se pueden dar de alta fácilmente registrandose como usuarios desde <a class="text-primario" [routerLink]="[ '/es/customer/login' ]">Acceso clientes</a>
            </p>
        </div>


    </div>


</div>