<router-outlet></router-outlet>
<!-- <div class="container">
  <h1 class="animate__animated animate__bounce">Bootstrap Table</h1>
  <table class="table">
    <thead>
      <tr class="bg-primary text-light">
        <th scope="col">nombre</th>
        <th scope="col">estilo</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.style}}</td>
        <td><button class="btn btn-danger">delete</button></td>
      </tr>
  </table>
</div> -->
<!-- 
<div class="container">
  <img src="assets/images/main.jpg" class="img-fluid animate__bounceIn" alt="">
</div> -->

<!-- <div class="container">
  <h1>Probando script de bootstrap </h1>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/mean.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/mean.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/mean.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div> -->

<!-- 
<div class="container">
  <h1 class="animate__animated animate__bounce">PrimeNg Table y icon: <span><i class="pi pi-apple"></i> - <i class="pi pi-paypal"></i> - <i class="pi pi-lock-open"></i> </span></h1>
  <p-table [value]="products" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>nombre</th>
        <th>estilo</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{product.name}}</td>
        <td>{{product.style}}</td>
      </tr>
    </ng-template>
  </p-table>
</div> -->



<!-- <div class="container">
  <h1 class="animate__animated animate__bounce">Material Table y icon: <span><mat-icon>home</mat-icon></span> - <span class="material-icons">check_circle</span></h1>
  <table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container> -->

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <!-- <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
          <div class="example-element-position"> {{element.position}} </div>
          <div class="example-element-symbol"> {{element.symbol}} </div>
          <div class="example-element-name"> {{element.name}} </div>
          <div class="example-element-weight"> {{element.weight}} </div>
        </div>
        <div class="example-element-description">
          {{element.description}}
          <span class="example-element-description-attribution"> -- Wikipedia1 </span>
        </div>
      </div>
    </td>
  </ng-container> -->
<!-- 
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

</div> -->
