<div class="div" *ngIf="blog">
    <div class="container bg-secundario my-3">
        <div class="row">
            <div class="col d-flex flex-column justify-content-center text-center py-3">
                <h1 class="px-4 fw-light animate__animated animate__fadeIn">Post: {{ blog.title }} | Opti<span class="text-primario">√</span>ista</h1>
                <span class="mb-3 text-muted text-light"> Publicado :{{ blog.dateOfPublish | date}}</span>
            </div>
        </div>
    </div>
    
    
    <div class="container">
    
        <div class="row">
            
            <div class="col-12 mb-5">
                <div >
                    <img  [src]="blog.img | image:'blogs'" [alt]="blog.title" class="img-fluid imgCenter">
                </div>
              
            </div>
    
            <div class="col-12 text-center" *ngIf="blog.subtitle ">
                <h2>{{ blog.subtitle }}</h2>
               
                <p class="px-5 fs-5 fw-light lh-base" style="text-align: justify;" *ngIf="blog.parraf1">
                    {{ blog.parraf1 }}
                </p>

                <p class="px-5 fs-5 fw-light lh-base" style="text-align: justify;" *ngIf="blog.parraf2">
                    {{ blog.parraf2 }}
                </p>

                <p class="px-5 fs-5 fw-light lh-base" style="text-align: justify;" *ngIf="blog.parraf3">
                    {{ blog.parraf3 }}
                </p>
    
            </div>
              

        </div>
    
        <a [routerLink]="['/es/blog']" routerLinkActive="router-link-active"  class="px-5 text-primario">Volver al blog</a>
    
    
    </div>
</div>