/* GLOBAL STYLES OF OPTIVISTA FRONTEND */
@import "bootstrap-icons/font/bootstrap-icons.css";

html, body { margin: 0; padding: 0; background-color: #F6F6F3;  font-family: Roboto, "Helvetica Neue", sans-serif;}

/* START PERSONAL COLORS */
       /* TEXT */
.text-primario{ color: #D81849 !important; }
.text-primarioHover:hover{
       color: #D81849 !important;
}

       /* BACKGROUND */
.bg-primario  { background-color: #D81849 !important; }
.bg-secundario{ background-color: #F6F6F3 !important; }

       /* BUTTONS */
.btn-primario  { background-color: #D81849 !important; color: white !important; border: none !important;}
.btn-outline-primario { border: 1px solid #D81849 !important;}

/* HOVER FOR ITEM OF NAVBAR */
.phover:hover{
border-bottom: solid 1px #D81849 !important;
}
.textHover:hover{
color: #D81849 !important; 
}

.rutaActiva{
       border-bottom: 1px solid #D81849 !important;
}
.rutaActivaAdmin{
       color: #D81849 !important;
}
/* HOVER FOR BUTTONS */
.buttonHover:hover{
       background-color: #D81849 !important; 
       color: white !important;
}
/* END PERSONAL COLORS */

/* for all buttons */
.borderRadius{
       border-radius: 25px !important;
}

/* OTHER FILTERS */
.text-justify{
       text-align: justify !important;
}
/* CURSORPOINTER */
.pointer{
    cursor: pointer !important;
}

.spacer{
       flex: 1 1 auto;
}

/* MAX WITH FOR THE ALL TEXT */
.width-limit-m {
    max-width: 600px;
}

/* SIZE ICONS FOR MOVILE OF NAV */
.SizeMovileNave{
    font-size: 1.5rem;
}
.imgCenter{
       display: block;
       margin: auto;
   }

/* table */

.w100{
       width: 100px;
}

.w200{
       width: 200px;
}

.imgCenter{
       display: block;
       margin: auto;
}

.hcitas{
       height: 250px;
}

/* modal */
.fondo-modal-imagen {
       background-color: rgba(0, 0, 0, 0.4) !important;
       left: 0px !important;
       height: 100% !important;
       position: fixed !important;
       top: 0px !important;
       width: 100% !important;
       z-index: 9999 !important;
}

.oculto {
    display: none !important;
}


.w100{
       width: 100px;
}
.w140{
width: 140px;
}

.brandimg{
width : 120px;
height: 120px;

}

.avatar{
width : 80px;
height: 80px;
border-radius: 100%;
}