  <!-- START SERVICIOS -->
  <div class="bg-secundario">

    <div class="d-flex d-flex flex-column align-items-center flex-sm-row flex-wrap justify-content-around py-4">
  
      <div class="d-flex flex-column align-items-center my-2" style="width:200px;">
        <img class="card-img-top" src="assets/images/services/seguro.png" alt="" style="width: 64px; height: 64px;">
        <h5 class="text-uppercase text-center">Garantía</h5>
        <div class="card-body">
          <p class="text-center d-none d-sm-flex" >Si se te rompen o roban tus gafas, 2 años de seguro por el 50% de su valor y un 60% en lentes contacto.</p>
        </div>
      </div>
  
      <div class="d-flex flex-column align-items-center my-2" style="width:200px;">
        <img class="card-img-top" src="assets/images/services/watch.png" alt="" style="width: 64px; height: 64px;">
        <h5 class="text-uppercase text-center">VisitaExpress</h5>
        <div class="card-body">
          <p class="text-center d-none d-sm-flex" >Gafas en 1 hora, no más de 2 dioptrías de astigmatismo y 5 de hipermetropioa o 6 de miopía.</p>
        </div>
      </div>
      
      <div class="d-flex flex-column align-items-center my-2" style="width:200px;">
        <img class="card-img-top" src="assets/images/services/parking.png" alt="" style="width: 64px; height: 64px;">
        <div class="card-body">  
        <h5 class="text-uppercase text-center">Accesibilidad</h5>
          <p class="text-center d-none d-sm-flex" >Contamos con dos plazas de aparcamiento que pueden ser utilizadas para vehiculos adaptados.</p>
        </div>
      </div>
  
      <div class="d-flex flex-column align-items-center my-2" style="width:200px;">
        <img class="card-img-top" src="assets/images/services/virus.png" alt="" style="width: 64px; height: 64px;">
        <h5 class="text-uppercase text-center">Seguridad covid-19</h5>
        <div class="card-body">  
          <p class="text-center d-none d-sm-flex" >Protegemos nuestro espacio para cuidar de ti. </p>
        </div>
      </div>
    
    </div>
  
  </div>
  <!--  SERVICIOS -->
  
  <!-- START NEWSLETTER -->
  <app-newsletter></app-newsletter>
  <!-- END NEWSLETTER -->

  <!-- START FOOTER -->
  <div class="bg-secundario">
    <footer class="container">
  
      <div class="row">
  
        <!-- BRAND, SOCIAL MEDIA AND PAYMENTS -->
        <div class="row py-3">
  
          <!-- BRAND -->
          <div class="col-xs d-xs-none col-md d-flex justify-content-center order-xs-2 order-md-2 ">
            <a class="navbar-brand text-secondary mb-2 fs-1" href="#">Opti<span class="text-primario">√</span>ista</a>
          </div>
  
          <!-- SOCIAL MEDIA -->
          <div class="col-xs col-md text-center d-flex justify-content-between align-items-center  order-sm-1">
            <i class="fab fa-instagram sizeIcon"></i>
            <i class="fab fa-facebook-f sizeIcon"></i>
            <button type="button"
              class="btn btn-sm btn-secondary text-light text-uppercase font-weight-bold rounded buttonHover"><span
                class="">Blog</span></button>
          </div>
  
          <!-- JUST RESPONSIVE -->
          <div class="d-flex flex-column align-items-center d-sm-none py-2">
  
            <div class="text-center">
              <i class="far fa-envelope f-5"></i>
              <p class="text-uppercase pt-3">mail</p>
              <p>info@optivista.es</p>
            </div>
  
            <div class="text-center">
              <i class="fas fa-phone f-5"></i>
              <p class="text-uppercase pt-3">llamanos</p>
              <p>952 50 80 26</p>
            </div>
  
            <div class="text-center">
              <i class="fas fa-map-marker-alt fs-5"></i>
              <p class="text-uppercase pt-3">localízanos</p>
              <p>Glorieta de Andalucía, 3, 29700. Vélez-Málaga</p>
            </div>
  
          </div>
  
          <!-- END JUST RESPONSIVE -->
  
          <!-- PAYMETS -->
          <div class="col-xs col-md d-flex justify-content-around align-items-center order-sm-3">
            <img class="sizeIcon" src="assets/images/footer/mastercard.svg" alt="">
            <img class="sizeIcon" src="assets/images/footer/visa.svg" alt="">
            <img class="sizeIcon" src="assets/images/footer/paypal.svg" alt="">
          </div>
          <!-- END PAYMETS -->
  
        </div>
        <hr class="d-none d-md-block">
        <!-- END BRAND, SOCIAL MEDIA AND PAYMENTS -->
  
        <!-- MAIL, LOCATION AND TELEPHONE -->
        <div class="row p-3 d-none d-sm-flex">
  
          <div class="col-xs col-sm-4 text-center">
            <i class="far fa-envelope f-5"></i>
            <p class="text-uppercase pt-3">mail</p>
            <p>info@optivista.es</p>
          </div>
  
          <div class="col-xs col-sm-4 text-center">
            <i class="fas fa-phone f-5"></i>
            <p class="text-uppercase pt-3">llamanos</p>
            <p>952 50 80 26</p>
          </div>
  
          <div class="col-xs col-sm-4 text-center">
            <i class="fas fa-map-marker-alt f-5"></i>
            <p class="text-uppercase pt-3">localízanos</p>
            <p>Glorieta de Andalucía, 3, 29700. Vélez-Málaga</p>
          </div>
  
        </div>
        <hr class="d-none d-md-block">
        <!-- END MAIL, LOCATION AND TELEPHONE -->
  
      </div>
  
      <!-- COPYRIGHT -->
      <div class="d-flex justify-content-center">
        <p class="text-center text-muted pt-3">&copy; Opti√ista 2011. Todos los derechos reservados.</p>
      </div>
      <!-- END COPYRIGHT -->
  
    </footer>
  </div>
  <!-- END FOOTER -->